[Unit]
Description=Precision Time Protocol (PTP) service
Documentation=man:ptp4l

[Service]
Type=simple
ExecStart=/usr/sbin/ptp4l -i interface_name -E -2 -H -l 6 -f /etc/linuxptp/iisc_config.cfg

[Install]
WantedBy=multi-user.target
